# Git Ignore files

# IntelliJ files
.idea/
*.iml
out/

# Object files and output binaries
target/
*.class
*.jar
*.pyc

# OSX nonsense
.DS*

# Data files should not be kept under source control
*.csv

# IPython notebook checkpoints
.ipynb_checkpoints/

